license {
    name = "The MIT License (MIT)"
    url = "http://opensource.org/licenses/MIT"
}

gradle {
    version = '2.3'
}

project {
    group = "de.rehpoehler"
    archiveBaseName = "project"
}

java {
    source  = 1.8
    target  = 1.8
    servlet = 3.0
    jpa     = 2.1
}

less {
    daemonIntervall = 500                    // scan interval in milliseconds.    
    engine          = "rhino"                // available values "rhino", "commandline"
    executable      = "/opt/local/bin/lessc" // must be set if using engine "commandline", will be ignored otherwise
}

eclipse {
    // you can find your runtime configuration in the .classpath file
	servletRuntime          = "Apache Tomcat v7.0"
	servletRuntimeClasspath = "org.eclipse.jst.server.core.container/org.eclipse.jst.server.tomcat.runtimeTarget/Apache Tomcat v7.0"
}

// maven repository configuration
repository {
    url      = "file://./repository/releases"
    snapshot = "file://./repository/snapshots"
    
    user     = ""
    password = ""
}

// tomcat server configuration
server {
	httpPort  = 8080
	httpsPort = 8081
	stopPort  = 8999
	stopKey   = 'stopKey'
	version   = '7.0.59'    // should match version of eclipse.servletRuntime
}

// flyway database connection
flyway {
    url = ""
    user = ""
    password = ""
}
