less {
    daemonIntervall = 200 // Scan interval in milliseconds.
    engine = "commandline"
    executable = "/usr/local/bin/lessc"
}

repository {
    url = "file:///Users/jens/Workspaces/github-repository/releases"
    snapshot = "file:///Users/jens/Workspaces/github-repository/snapshots"
}

flyway {
    url = "jdbc:mysql://localhost:3306/bankroll"
    user = "root"
    password = ""
}